In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
from textblob import TextBlob
import nltk

In [2]:
# 
cli = MongoClient("localhost",27017)
db = cli.yelp
cursorBusiness = db.business.find({"city" : "Charlotte", "categories": "Restaurants"}, {"business_id" : 1, "city": 1, "type" : 1}).limit(100)
# 
charlotte_businesses = pd.DataFrame(list(cursorBusiness))
charlotte_businesses.head()

                        _id             business_id       city      type
0  58d5894730282846474829fc  LIvXzdMJrIb6IY5Y3tqicA  Charlotte  business
1  58d589483028284647482a3f  h7uxML49NQ_Wj-7zk0DSqg  Charlotte  business
2  58d589483028284647482a40  X02YNLa3Iofzwv5Le6QeYQ  Charlotte  business
3  58d589483028284647482a41  2rgQ1TULwVoY7TnUlnH7Yw  Charlotte  business
4  58d589483028284647482a74  _OtUeybIKTx2jhLVYV66wA  Charlotte  business

We can grab 1000 restaurant ids from Charlotte, now to grab reviews on these businesses on the correct days

In [ ]:
datelist = list(["2016-03-13", "2016-03-14", "2016-03-15", "2016-03-16", "2016-03-17", "2016-03-18", "2016-03-19")


cursorReview = db.review.find({"business_id": {"$in": list(charlotte_businesses['business_id'])}, "date": {"$gt": "2015-12-31", "$lt": "2017-01-01"}}, {"text": 1, "stars": 1, "date": 1}).limit(100)
charlotte_reviews = pd.DataFrame(list(cursorReview))
charlotte_reviews.head()

In [9]:
weather = pd.read_csv("charollote2016.csv")
weather['HOURLYDRYBULBTEMPF'].head()

0    54
1    53
2    53
3    54
4    52
Name: HOURLYDRYBULBTEMPF, dtype: object