In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
from textblob import TextBlob
import nltk

In [2]:
# 
cli = MongoClient("localhost",27017)
db = cli.yelp
cursorBusiness = db.business.find({"city" : "Charlotte", "categories": "Restaurants"}, {"business_id" : 1, "city": 1, "type" : 1}).limit(100)
# 
charlotte_businesses = pd.DataFrame(list(cursorBusiness))
charlotte_businesses.head()

                        _id             business_id       city      type
0  58d5894730282846474829fc  LIvXzdMJrIb6IY5Y3tqicA  Charlotte  business
1  58d589483028284647482a3f  h7uxML49NQ_Wj-7zk0DSqg  Charlotte  business
2  58d589483028284647482a40  X02YNLa3Iofzwv5Le6QeYQ  Charlotte  business
3  58d589483028284647482a41  2rgQ1TULwVoY7TnUlnH7Yw  Charlotte  business
4  58d589483028284647482a74  _OtUeybIKTx2jhLVYV66wA  Charlotte  business

We can grab 1000 restaurant ids from Charlotte, now to grab reviews on these businesses on the correct days

In [7]:
cursorReview = db.review.find({"business_id": {"$in": list(charlotte_businesses['business_id'])}}, {"text": 1, "stars": 1, "date": 1}).limit(100)
charlotte_reviews = pd.DataFrame(list(cursorReview))
charlotte_reviews.head()

,_id,date,stars,text
0,58d573693028284647f91f50,2015-09-16,5,Great food at reasonable prices always fresh a...
1,58d573693028284647f91f51,2015-06-05,5,This place is great and very affordable. Their...
2,58d573693028284647f91f52,2014-09-04,5,"Good food, fair price. It looks empty but its ..."
3,58d573693028284647f91f53,2014-02-16,4,Pretty good food for the area . The chicken wi...
4,58d573693028284647f91f54,2015-04-02,1,I LOVE Chinese food and have eaten at many a C...